    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    html {
        scroll-behavior: smooth;
    }
    
    header {
        width: 100%;
        height: 80px;
        position: absolute;
        top: 0px;
        z-index: 20;
    }
    
    nav {
        width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .logo {
        width: 80px;
        height: 80px;
    }
    
    .logo img {
        width: 100%;
    }
    
    main {
        width: 100%;
    }
    
    .banner {
        width: 100%;
        position: relative;
        z-index: 0;
    }
    
    .banner img {
        width: 100%;
    }
    
    menu {
        display: flex;
    }
    
    menu a:link,
    menu a:visited {
        height: 60px;
        display: flex;
        align-items: center;
        padding: 0 16px;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;
        transition: .3s;
        color: black;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        overflow: hidden;
        cursor: pointer;
        transition: .5s;
    }
    
    menu a:hover {
        color: rgb(23, 43, 146);
        transform: scale(1.2);
    }
    
    .umbrella {
        width: 400px;
        position: absolute;
        left: 50%;
        margin-left: -200px;
        bottom: 50px;
    }
    
    img {
        width: 100%;
    }
    
    .sombra {
        filter: drop-shadow(0px 0px 8px #fafafa);
    }
    
    .trailer {
        width: 200px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        background-color: rgb(9, 9, 110);
        position: absolute;
        top: 300px;
        right: 100px;
        z-index: 99;
        border-radius: 16px;
        border: none;
        color: #fafafa;
    }
    
    .trailer:hover {
        filter: brightness(.8);
        cursor: pointer;
    }
    
    .Sobre {
        width: 1000px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 0;
    }
    
    .Sobre h2 {
        width: 100%;
        margin: 16px 0;
        text-align: center;
        gap: 10px;
    }
    
    .fotoSobre {
        width: 220px;
        height: 220px;
        overflow: hidden;
        transition: .5s;
        border-radius: 20px;
    }
    
    .fotoSobre:hover {
        transform: scale(1.2);
        box-shadow: 0px 0px 8px #24242480;
        border-radius: 20px;
    }
    
    .fotoSobre img {
        width: 100%;
    }
    
    h2 {
        width: 100%;
        font-size: 42px;
        text-transform: uppercase;
        color: black;
    }
    
    span {
        font-size: 42px;
        color: rgb(8, 8, 134);
        position: relative;
        top: 16px;
        left: 20;
    }